/* IMPORT FONTS*/

@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

/* CSS RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

/* VARIABLES */
:root {
    --blackfont-color: #000;
    --white-bgcolor: #fff;
    --green-bgcolor: #2fb171;
    --shadow-color: #40815b;
    
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100vh;
    background-color: var(--green-bgcolor);
    
    
}

/* CONTENT */

section {
    display: flex;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    width: 450px;
    height: 550px;
    border-radius: 20px;
    box-shadow: 13px 13px 5px 0px var(--shadow-color);
    background-color: var(--white-bgcolor);
    
}
    
    
.container {
    
    width: 310px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 20px;
    padding-left: 15px;
    
}

.container .close_button {
    display: flex;
    justify-content: flex-start;
    position: relative;
    width: 20px;
    height: 17px;
    padding-left: 5px;
    margin-bottom: 80px;
}

.close_button img {
    margin-left: 30px;
}


/* FORM CONTENT */

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    width: 310px;
    height: 400px;
}

.name_LastName
 {
    display: flex;
    width: 310px;
    height: 20px;

}

.name_LastName p {
    flex: 1;

}

.text_Box input {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 250px;
    height: 25px;
    outline: none;
    text-decoration: none;
    border-bottom: 1px solid var(--blackfont-color);
    margin-bottom: 20px;
}

