/* IMPORT FONTS*/

@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

/* CSS RESET*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

/* VARIABLES */
:root {
    --blackfont-color: #000;
    --white-bgcolor: #fff;
    --green-bgcolor: #2fb171;
    --shadow-color: #40815b;
    
}

body {
    background-color: var(--green-bgcolor);
    font-family: 'Poppins', Arial, sans-serif;
}

/* CONTENT */

section {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 100px 350px ;
    width: 550px;
    height: 650px;
    border-radius: 30px;
    box-shadow: 13px 13px 5px 0px var(--shadow-color);
    background-color: var(--white-bgcolor);

}

.container {
    
    position: relative;
    width: 500px;
    min-height: 150px;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    
}


.logo_image {
    width: 230px;
    height: 150px;
   
}

.logo_image img {
    width: 370px;
}

.container .close_button {
    display: flex;
    justify-content: flex-start;
    width: 20px;
    height: 17px;
    padding-left: 50px;
}

.close_button img {
    padding-left: 40px;
}


/* FORM CONTENT */

form {
    background-color: #2825d6;
    height: 410px;
    
}